

html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', cursive;
}

.App {
    padding-top: 4rem;
    min-height: 100vh;
}

.navbar {
  background-color: #ef5350 !important;
}

.nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* Add this line to align the container to the right */
}

.nav-item {
  text-align: right;
}