.title {
    font-family: 'Press Start 2P';
    font-size: xx-large
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit color from parent element */
}