.pokemon-grid {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-height: 100%;
    max-width: 100%;
    overflow-y: none;
    margin-bottom: 10px;
    position: relative;
    justify-items: center;
    /* Horizontally center items */
    align-items: center;
    /* Vertically center items */
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .pokemon-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    .title {

        flex-direction: column;

    }
    
}

/* App.css */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height to fill the viewport */
  }
  
  .content-wrapper {
    flex-grow: 1; /* Allow the content to grow and fill the remaining space */
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex-grow: 1; /* Allow the content to grow and fill the remaining space */
    padding: 20px; /* Adjust the padding as needed */
  }
  
  /* Your existing Footer styles */
  